<header class="site-nav">
  <div class="nav-inner">
    <a href="{{ site.baseurl }}/" class="nav-logo">Project Chimera</a>
    <button class="nav-toggle" aria-label="Toggle navigation">&#9776;</button>
    <div class="nav-links">
      <a href="{{ site.baseurl }}/play/">Play</a>
      <a href="{{ site.baseurl }}/story/">Story</a>
      <a href="{{ site.baseurl }}/characters/">Characters</a>
      <a href="{{ site.baseurl }}/gameplay/">Gameplay</a>
      <a href="{{ site.baseurl }}/devlog/">Devlog</a>
      <a href="{{ site.baseurl }}/roadmap/">Roadmap</a>
      <a href="{{ site.baseurl }}/feedback/">Feedback</a>
    </div>
  </div>
</header>
