<nav>
  <a href="{{ site.baseurl }}/" class="logo">Project Chimera</a>
  <div class="links">
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/play/">Play Demo</a>
    <a href="{{ site.baseurl }}/devlog/">Devlog</a>
    <a href="{{ site.baseurl }}/roadmap/">Roadmap</a>
    <a href="{{ site.baseurl }}/story/">Story</a>
    <a href="{{ site.baseurl }}/characters/">Characters</a>
    <a href="{{ site.baseurl }}/gameplay/">Gameplay</a>
    <a href="{{ site.baseurl }}/feedback/">Feedback</a>
  </div>
</nav>
